.responses {
	position: relative;
	display: block;
	@include margin-x(-3rem);
	@include padding-x(3rem);

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 6px;
		@include padding-x(0);
		background-image: url("../images/bg-zigzag.svg");
		background-position: center;
		background-repeat: repeat-x;
	}

	&__heading {
		@include heading--big();
		margin-bottom: 2.5rem;
	}

	&__list {
		@include list-clear();
	}

	&__item {
		margin-bottom: 2.5rem;
	}

	&__controls {
		display: flex;
		justify-content: space-around;
		margin-bottom: 4.5rem;
		border: 1px solid #ececec;
	}

	&__control {
		flex-basis: percentage(1/2);
		@include padding-y(1rem);

		& > svg {
			margin: auto;
		}

		&:hover {
			cursor: pointer;
			& > .icon--arrow {
				use {
					fill: #444444;
					transition-duration: 0.3s;
				}
			}
		}

		&:active {
			& > .icon--arrow {
				use {
					fill: rgba(#444444, 0.3);
				}
			}
		}

		&:first-child {
			transform: rotateY(180deg);
		}

		&:last-child {
			border-left: 1px solid #ececec;
		}
	}

	&__btn {
		@include btn();
		margin-bottom: 4.5rem;
		border: 2px solid #444444;
		font-size: $font-size / 0.875; // 1.6rem
		line-height: $leading / 1.875; // 1.6rem
		color: #444444;
		text-transform: uppercase;

		&:hover {
			background-color: #444444;
			color: #ffffff;
			transition-duration: 0.3s;
		}

		&:active {
			background-color: #444444;
			color: rgba(#ffffff, 0.3);
			transition-duration: 0.3s;
		}
	}
}
