include ../response/response

mixin responses(responses)
	+b('section').responses&attributes(attributes)
		+e('header').heading
			| Отзывы
		+e('div').slider(class='js_slider')
			+e('div').container(class='js_frame')
				+e('ul').list(class='js_slides')
					each item in responses
						+response(item)(class='__item js_slide')
			+e('div').controls
				+e('div').control--prev(class='js_prev')
					+icon('icon--arrow', 'responses-arrow', '50', '26', true)
				+e('div').control--next(class='js_next')
					+icon('icon--arrow', 'responses-arrow', '50', '26', true)
			+e('a').feedback(class='btn', href='javascript:void(0)', onclick='return false', role='button')
				| Написать
