.responses {
	position: relative;
	display: block;
	@include margin-x(-#{$offset--mobile});
	margin-bottom: 9rem;
	@include padding-x($offset--mobile);

	@media #{$tab-desk} {
		@include margin-x(-#{$offset--desktop});
		@include padding-x($offset--desktop);
		padding-top: 7.5rem;
		padding-bottom: 6.5rem;
	}

	@media #{$tablet} {
		margin-bottom: 12.5rem;
	}

	@media #{$desktop} {
		@include with-layout($large) {
			padding-left: calc(#{span(1)} + #{$offset--desktop} );
		}
		margin-bottom: 23rem;
	}

	&::before {
		@media #{$tab-desk} {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			height: 100%;
			@include padding-x(0);
			background-image: url("../images/responses@2x.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -5;
		}

		@media #{$tablet} {
			@include with-layout($medium) {
				width: calc(#{span(2)} - 35px);
			}
		}

		@media #{$desktop} {
			margin-left: #{$offset--desktop};
			@include with-layout($large) {
				width: calc(#{span(2)} - (#{$offset--desktop} * 2) / 3);
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 6px;
		margin-bottom: -5rem;
		@include padding-x(0);
		background-image: url("../images/bg-zigzag.svg");
		background-position: center;
		background-repeat: repeat-x;

		@media #{$tablet} {
			height: 15px;
			margin-bottom: -8rem;
		}

		@media #{$desktop} {
			height: 23px;
			margin-bottom: -9rem;
		}
	}

	&__heading {
		@include heading--big();
		margin-bottom: 2.5rem;

		@media #{$tablet} {
			margin-bottom: 5.5rem;
		}

		@media #{$desktop} {
			margin-bottom: 4.5rem;
		}
	}

	&__container {
		position: relative;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
	}

	&__list {
		@include list-clear();
		display: inline-block;
		width: percentage(3/1);
	}

	&__item {
		position: relative;
		display: inline-block;
		width: percentage(1/3);
		margin-bottom: 3rem;
	}

	&__controls {
		display: flex;
		justify-content: space-around;
		margin-bottom: 4rem;
		border: 1px solid #ececec;

		@media #{$tab-desk} {
			position: absolute;
			right: 5rem;
			bottom: 7rem;
			margin-bottom: 0;
			border: none;
			transform: translateY(-50%);
		}

		@media #{$tablet} {
			@include with-layout($medium) {
				width: calc(#{span(1)} - ((#{$offset--tablet} * 2) / 4));
			}
		}

		@media #{$desktop} {
			@include with-layout($large) {
				width: calc(#{span(1)} - (#{$offset--desktop} * 2) / 6);
			}
		}
	}

	&__control {
		flex-basis: percentage(1/2);
		@include padding-y(1rem);

		& > svg {
			margin: auto;
		}

		&:hover {
			cursor: pointer;
			& > .icon--arrow {
				use {
					fill: $text-color;
					transition-duration: 0.3s;
				}
			}
		}

		&:active {
			& > .icon--arrow {
				use {
					fill: rgba($text-color, 0.3);
				}
			}
		}

		&:first-child {
			transform: rotateY(180deg);
		}

		&:last-child {
			border-left: 1px solid #ececec;

			@media #{$tab-desk} {
				border-left: none;
			}
		}
	}

	&__btn {
		@include btn();
		border: 2px solid $color-primary;
		font-size: $font-size / 0.875; // 1.6rem
		line-height: $leading / 1.875; // 1.6rem
		color: #444444;
		text-transform: uppercase;

		&:hover {
			background-color: $color-primary;
			color: #ffffff;
			transition-duration: 0.3s;
		}

		&:active {
			background-color: $color-primary;
			color: rgba(#ffffff, 0.3);
			transition-duration: 0.3s;
		}

		@media #{$tab-desk} {
			position: absolute;
			top: 7.5rem;
			right: 5rem;

			@media #{$tablet} {
				@include with-layout($medium) {
					width: calc(#{span(1)} - ((#{$offset--tablet} * 2) / 4));
				}
			}

			@media #{$desktop} {
				@include with-layout($large) {
					width: calc(#{span(1)} - (#{$offset--desktop} * 2) / 6);
				}
			}
		}
	}
}
