.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: #{percentage(2/2)};
	min-height: 80px;
	cursor: pointer;

	&:hover {
		& .icon {
			transition-duration: 0.3s;
			fill: darken($color-secondary, 15%);
		}
	}

	&:active {
		& .copyright__text {
			color: rgba($link-color, 0.3);
			transition-duration: 0.3s;
		}
		& .icon {
			fill: rgba($color-secondary, 0.3);
			transition-duration: 0.3s;
		}
	}

	@media #{$tab-desk} {
		flex-basis: auto;
	}

	&__text {
		font-family: Verdana, Arial, sans-serif;
		font-size: $font-size / 0.777777777777778; // 1.8rem
		line-height: $leading / 1.666666666666667; // 1.8rem
		font-weight: 700;
		color: $link-color;
		padding-right: 2.5rem;
	}
}
