.response {
	display: block;

	&__description,
	&__link {
		font-family: $font-family;
		font-size: $font-size;
		line-height: $leading;
		color: $text-color;
	}

	&__description {
		margin-bottom: 2rem;

		@media #{$tab-desk} {
			font-size: $font-size / 0.875; // 1.6rem
		}

		@media #{$tablet} {
			margin-bottom: 1rem;
		}

		@media #{$desktop} {
			margin-bottom: 4.5rem;
		}
	}

	&__author {
		font-family: Verdana, Arial, sans-serif;
		font-size: $font-size;
		line-height: $leading / 1.25; // 2.4rem
		font-weight: 700;
		color: $link-color;

	}
}
