include ../toggleInput/toggleInput
include ../textInput/textInput
include ../textarea/textarea

mixin form(data)
	+b('form').form(action='/hello', method='post')&attributes(attributes)

		+e.fieldset--type(role='group')
			each item in data.type
				+toggleInput(item, 'radio')

		+e.fieldset--color(role='group')
			each item in data.color
				+toggleInput(item, 'checkbox')

		+e.fieldset--full-name(role='group')
			each item in data.fullName
				+textInput(item, 'text-field')

		+e.fieldset--tel(role='group')
			each item in data.tel
				+textInput(item, 'text-field')

		+e.fieldset--e-mail(role='group')
			each item in data.email
				+textInput(item, 'text-field')

		+e.fieldset--feedback(role='group')
				+textarea

		+e.fieldset--submit(role='group')
			+e('button').submit(type='submit')
				| Отправить заказ
			+e('span').footnote
				| Все поля являются обязательными
		block
