.form {
	display: block;

	@media #{$tab-desk} {
		@include margin-x(-#{$offset--desktop});
	}

	&__fieldset {
		position: relative;
		display: flex;
		flex-direction: column;
		border-top: 1px solid $color-secondary;

		@media #{$tab-desk} {
			flex-direction: row;
			flex-wrap: wrap;
		}

		@media #{$tablet} {
			@include with-layout($medium) {
				@include padding-x(calc(#{span(1)} + (#{$offset--tablet} / 2)));
			}
		}

		@media #{$desktop} {
			@include with-layout($large) {
				@include padding-x(#{percentage(1/5)});
			}
		}

		&::before {
			content: "";
			position: absolute;
			display: flex;
			align-self: baseline;
			top: -8px; // font-size / 2
			padding-right: 1rem;
			font-family: $font-family;
			font-size: $font-size / 0.875; // 1.6rem
			line-height: $leading / 1.875; // 1.6rem
			font-weight: 700;
			color: $color-secondary;
			text-transform: uppercase;
			background-color: #ffffff;

			@media #{$tab-desk} {
				left: 0;
				top: auto;
				align-self: baseline;
				padding-right: 0;
				margin-left: 0;
				background-color: transparent;
			}

			@media #{$tablet} {
				@include with-layout($medium) {
					width: calc((#{span(1)}) - #{$offset--tablet} / 2);
				}
				margin-left: #{$offset--tablet};
			}

			@media #{$desktop} {
				justify-content: center;
				@include with-layout($large) {
					width: calc((#{span(1)}) - #{$offset--desktop} / 2);
				}
				margin-left: #{$offset--desktop};
				text-align: center;
			}
		}

		&--type {
			margin-bottom: 1.5rem;
			@include padding-y(2.5rem);

			@media #{$tab-desk} {
				margin-bottom: 3.5rem;
			}

			@media #{$tablet} {
				padding-right: #{$offset--tablet};
			}

			&::before {
				content: "Тип";

				@media #{$tab-desk} {
					@include padding-y(1rem);
				}
			}
		}

		&--color {
			margin-bottom: 1.5rem;
			@include padding-y(3rem);

			@media #{$tab-desk} {
				background-color: #f1f1f1;
			}

			@media #{$tab-desk} {
				@include padding-y(6rem);
				padding-right: #{$offset--tablet};
			}

			&::before {
				content: "Цвет";

				@media #{$tab-desk} {
					@include padding-y(1.5rem);
				}
			}
		}

		&--full-name {
			@include padding-y(4rem);

			& .text-field__input {
				padding-right: 0;
			}

			@media #{$tab-desk} {
				margin-bottom: 3rem;
			}

			@media #{$tablet} {
				padding-right: #{$offset--tablet};
			}

			&::before {
				content: "ФИО";

				@media #{$tab-desk} {
					line-height: 5.5rem;
				}
			}
		}

		&--tel {
			margin-bottom: 3rem;
			@include padding-y(2rem);

			@media #{$tab-desk} {
				background-color: #f1f1f1;

				.text-field__caption {
					padding-right: 0;
				}
			}

			@media #{$tab-desk} {
				margin-bottom: 0;
				padding-top: 5rem;
				padding-right: #{$offset--tablet};
				padding-bottom: 0;
			}

			&::before {
				content: "Тел";

				@media #{$tab-desk} {
					line-height: 5.5rem;
				}
			}
		}

		&--e-mail {
			margin-bottom: 2rem;
			@include padding-y(2rem);

			@media #{$tab-desk} {
				background-color: #f1f1f1;

				.text-field__caption {
					padding-right: 0;
				}
			}

			@media #{$tab-desk} {
				margin-bottom: $offset--tablet / 2;
				padding-right: #{$offset--tablet};
				padding-bottom: 6.5rem;
			}

			&::before {
				content: "E-mail";

				@media #{$tab-desk} {
					line-height: 5rem;
				}
			}
		}

		&--feedback {
			margin-bottom: 2rem;
			@include padding-y(4rem);

			@media #{$tablet} {
				margin-bottom: 1.5rem;
				padding-right: #{$offset--tablet};
			}

			@media #{$desktop} {
				margin-bottom: 5.5rem;
			}

			&::before {
				content: "Доп";

				@media #{$tab-desk} {
					line-height: 5rem;
				}
			}
		}

		&--submit {
			display: flex;
			align-items: center;
			margin-bottom: 6rem;
			border-top-color: transparent;

			@media #{$tablet} {
				@include padding-x(0);
				@include margin-x($offset--tablet);
				margin-bottom: $offset--tablet;
			}

			@media #{$desktop} {
				margin-bottom: 9.5rem;
			}
		}

		@media #{$tab-desk} {
			border-top: none;
		}
	}

	& label {
		cursor: pointer;
	}

	&__submit {
		@include btn();
		width: 100%;
		background-color: transparent;

		&:focus {
			background-color: $color-primary;
			color: #ffffff;
			text-decoration: none;
			outline: 0;
			box-shadow: none;
			transition-duration: 0.3s;
		}

		&:active {
			color: rgba(#ffffff, 0.3);
		}

		@media #{$tab-desk} {
			width: auto;
			margin-right: auto;
		}
	}

	&__footnote {
		display: none;
		font-size: $font-size / 0.875; // 1.6rem
		line-height: $leading;
		text-align: right;

		@media #{$tab-desk} {
			display: block;
			width: 50%;
			padding-left: 1.5rem;
			margin-left: auto;
		}
	}
}
