.about {
	display: block;
	margin-bottom: 3rem;

	@media #{$desktop} {
		@include with-layout($large) {
			@include margin-x(#{span(1)});
		}
	}

	&__heading {
		@include heading--big();
		margin-bottom: 3rem;

		@media #{$tablet} {
			margin-bottom: 5.5rem;
		}

		@media #{$desktop} {
			margin-bottom: 4.5rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		@include list-clear();

		@media #{$tab-desk} {
			flex-direction: row;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		min-height: 9.3rem;
		margin-bottom: 3rem;

		@media #{$tablet} {
			min-height: 9.5rem;
			margin-bottom: 6rem;
			@include with-layout($medium) {
				flex-basis: #{span(2)};
			}

			&--flower {
				order: 5;
			}

			&--banknote {
				order: 15;
			}

			&--heart {
				order: 25;
			}

			&--loupe {
				order: 10;
			}

			&--rocket {
				order: 20;
			}

			&--gift {
				order: 30;
			}
		}

		@media #{$desktop} {
			min-height: 10rem;
			margin-bottom: 5.5rem;
			@include with-layout($large) {
				flex-basis: #{span(3)};
			}

			&--flower {
				order: 5;
			}

			&--banknote {
				order: 15;
			}

			&--heart {
				order: 25;
			}

			&--loupe {
				order: 10;
			}

			&--rocket {
				order: 20;
			}

			&--gift {
				order: 30;
			}
		}

		& span {
			margin-top: auto;
			padding-right: 2rem;
			font-family: Verdana, Arial, sans-serif;
			font-size: $font-size / 0.875; //1.6rem
			line-height: 1.875rem; //1.6rem
			font-weight: 700;
			color: $text-color;

			@media #{$tab-desk} {
				font-size: $font-size / 0.7; //2rem
				line-height: $leading / 1.5; // 2rem
			}
		}
	}
}
