include ../icon/icon

mixin about(list)
	+b('section').about&attributes(attributes)
		+e('header').heading
			| Коротко о нас:
		+e('ul').list&attributes(attributes)
			each item in list
				+e('li').item(class='--' + item.name)
					+icon('icon--' + item.name, 'about-' + item.name, true, item.width, item.height)&attributes(attributes)
					span !{item.text}
		block
