.product {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	border: 1px solid #ececec;

	&:hover {
		box-shadow: 0 6px 6px 0 rgba(#000, 0.1);
		transition-duration: 0.3s;
	}

	&:active {
		box-shadow: 0 3px 3px 0 rgba(#000, 0.1);
	}

	@media #{$tablet} {
		flex-direction: row;
		margin-bottom: 5.5rem;
	}

	@media #{$desktop} {
		flex-direction: column;
		margin-bottom: 5.5rem;

		@include with-layout($large) {
			flex-basis: calc(#{span(2)} - #{$offset--desktop / 2});
		}
	}

	&__image {
		background-size: cover;
		line-height: 0;

		& img {
			min-width: 100%;
		}

		@media #{$tablet} {
			@include with-layout($medium) {
				flex-basis: calc(#{span(2)});
			}
		}

		@media #{$desktop} {
			flex-basis: auto;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		@include padding-x(2.5rem);
		background-color: #fff;

		@media #{$tablet} {
			@include with-layout($medium) {
				flex-basis: #{span(2)};
			}
		}

		@media #{$desktop} {
			flex-basis: auto;
		}
	}

	&__container {
		min-height: 100px;

		@media #{$tab-desk} {
			min-height: 120px;
		}
	}

	&__heading {
		padding-top: 2.5rem;
		padding-bottom: 1rem;
		font-family: Verdana, Tahoma, Arial, sans-serif;
		font-size: $font-size / 0.875; //1.6rem
		line-height: $leading / 1.25; //2.4rem
		font-weight: 700;
		color: #000;

		@media #{$tab-desk} {
			font-size: $font-size / 0.77777777777778; //1.8rem
		}
	}

	&__description {
		margin-bottom: 2rem;
	}

	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include padding-y(2.5rem);
		font-family: Verdana, Tahoma, Arial, sans-serif;
		font-size: $font-size;
		line-height: $leading / 1.25; //2.4rem
		font-weight: 700;
		color: #000;
		border-top: 1px solid #ececec;

		@media #{$tab-desk} {
			font-size: $font-size / 0.875; //1.6rem
		}

		@media #{$tablet} {
			margin-top: auto;
		}
	}

	&__link {
		&:hover .icon use {
			fill: $color-secondary;
			transition-duration: 0.3s;
		}

		&:active .icon use {
			fill: rgba($color-secondary, 0.3);
			transition-duration: 0.3s;
		}
	}
}
