.nav {
	display: none;
	height: #{percentage(2/2)};

	&--visible {
		display: block;
		width: #{percentage(2/2)};
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		@include list-clear();
		background-color: #ffffff;
		z-index: 20;

		@media #{$mobile} {
			position: absolute;
			width: #{percentage(2/2)};
		}

		@media #{$tab-desk} {
			flex-direction: row;
			@include padding-x($offset--tablet);
			background-color: transparent;
		}
	}

	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		@include padding-y(2.7rem);
		@include padding-x(0);
		font-family: Verdana, Arial, sans-serif;
		font-size: 1.6rem;
		line-height: $leading / 1.25; // 2.4rem
		font-weight: 700;
		text-align: center;
		border-bottom: 1px solid #ececec;
		z-index: 20;

		&:nth-child(5),
		&:nth-child(6) {
			display: none;
		}

		@media #{$mobile} {
			&--cart,
			&--search {
				.nav__link {
					transform: translateX(-2.5rem);
				}
			}
		}

		@media #{$tab-desk} {
			justify-content: flex-start;
		}

		@media #{$tablet} {
			padding: 1.5rem 0;
			font-size: 1.4rem;
			border-bottom: none;

			&:nth-child(1),
			&:nth-child(2) {
				flex-basis: calc(#{percentage(1/4)} - 10px);
			}
		}

		@media #{$desktop} {
			font-size: 1.6rem;
			border-bottom: none;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				height: 90px;
				@include padding-y(0);
				line-height: 9rem;
				border-right: 1px solid #ececec;
			}

			&:nth-child(1),
			&:nth-child(5) {
				flex-basis: 190px;
			}

			&:nth-child(2),
			&:nth-child(6) {
				flex-basis: 515px;
				padding-left: 3.5rem;
			}

			&:nth-child(4) {
				border-right: none;
				border-bottom: 1px solid #ececec;
			}

			&:nth-child(5),
			&:nth-child(6) {
				display: flex;
				@include padding-y(2rem);
				font-size: 1.4rem;
				border-right: 1px solid transparent;
			}
		}

		&--search {
			@media #{$tab-desk} {
				flex-basis: 84px;
				justify-content: center;

				& span {
					display: none;
				}
			}

			@media #{$tablet} {
				align-self: center;
				order: -2;
				justify-content: center;
				height: 90px;
				margin-left: calc(#{percentage(2/4)} - 42px);
				@include padding-y(0);
				background-color: #ffffff;
				border-left: 1px solid #ececec;
				border-right: 1px solid #ececec;
				border-bottom: 1px solid #ececec;
			}

			@media #{$desktop} {
				order: 0;
			}
		}

		&--cart {
			@media #{$tablet} {
				order: -1;
				flex-basis: calc(#{percentage(2/4)} - 42px);
				border-bottom: 1px solid #ececec;
			}

			@media #{$tab-desk} {
				justify-content: flex-end;
				flex-grow: 1;
				height: 90px;
				@include padding-y(0);
				padding-right: $offset--desktop;
				margin-right: -#{$offset--desktop};
				font-size: 1.6rem;
				background-color: #ffffff;
			}

			@media #{$desktop} {
				order: 0;
				margin-left: initial;
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;

		&:hover {
			fill: $link-color--hover;
			transition-duration: 0.3s;
		}

		&:active {
			fill: $link-color--active;
			transition-duration: 0.3s;
		}

		&:hover .icon use {
			fill: $color-secondary;
			transition-duration: 0.3s;
		}

		&:active .icon use {
			fill: rgba($color-secondary, 0.3);
			transition-duration: 0.3s;
		}

		& .icon {
			margin-right: 2.5rem;

			@media #{$tab-desk} {
				&.icon--search {
					margin-right: 0;
				}
			}
		}
	}
}

