.nav {
	display: none;

	&--visible {
		display: block;
		width: 100%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		@include list-clear();

		@media #{$tab-desk} {
			flex-direction: row;
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}

	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 27px 0;
		font-family: Verdana, Arial, sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		text-align: center;
		border-bottom: 1px solid #ececec;

		@media #{$tab-desk} {
			flex-basis: 25%;
			justify-content: flex-start;
			padding: 20px 0;
			font-size: 14px;
			border-bottom: none;

			&--search {
				align-self: center;
				order: -2;
				flex-basis: 80px;
				justify-content: center;
				height: 90px;
				margin-left: calc(50% - 20px);
				padding-top: 0;
				padding-bottom: 0;
				background-color: #ffffff;
				border-left: 1px solid #ececec;
				border-right: 1px solid #ececec;
				border-bottom: 1px solid #ececec;

				& span {
					display: none;
				}
			}

			&--cart {
				order: -1;
				flex-grow: 1;
				justify-content: flex-end;
				height: 90px;
				padding-top: 0;
				padding-bottom: 0;
				padding-right: 5rem;
				margin-left: auto;
				margin-right: -5rem;
				font-size: 16px;
				background-color: #ffffff;
				border-bottom: 1px solid #ececec;
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;

		&:hover {
			fill: $link-color--hover;
			transition-duration: 0.3s;
		}

		&:active {
			fill: $link-color--active;
			transition-duration: 0.3s;
		}

		&:hover .icon use {
			fill: $color-secondary;
			transition-duration: 0.3s;
		}

		&:active .icon use {
			fill: rgba($color-secondary, 0.3);
			transition-duration: 0.3s;
		}

		& .icon {
			padding-right: 25px;

			@media #{$tab-desk} {
				&.icon--search {
					padding-right: 0;
				}
			}
		}
	}
}
