.nav {
	display: none;

	&--visible {
		display: block;
		width: 100%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		@include list-clear();
		background-color: #ffffff;
		z-index: 20;

		@media #{$mobile} {
			position: absolute;
			width: 100%;
		}

		@media #{$tab-desk} {
			flex-direction: row;
			@include padding-x(5rem);
		}
	}

	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		@include padding-y(27px);
		@include padding-x(0);
		font-family: Verdana, Arial, sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		text-align: center;
		border-bottom: 1px solid #ececec;

		&:nth-child(5),
		&:nth-child(6) {
			display: none;
		}

		@media #{$tab-desk} {
			justify-content: flex-start;
		}

		@media #{$tablet} {
			padding: 15px 0;
			font-size: 14px;
			border-bottom: none;

			&:nth-child(1),
			&:nth-child(2) {
				flex-basis: calc(25% - 10px);
			}
		}

		@media #{$desktop} {
			font-size: 16px;
			border-bottom: none;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				height: 90px;
				@include padding-y(0);
				line-height: 90px;
				border-right: 1px solid #ececec;
			}

			&:nth-child(1),
			&:nth-child(5) {
				flex-basis: 190px;
			}

			&:nth-child(2),
			&:nth-child(6) {
				flex-basis: 475px;
				padding-left: 35px;
			}

			&:nth-child(4) {
				border-right: none;
			}

			&:nth-child(5),
			&:nth-child(6) {
				display: flex;
				@include padding-y(20px);
				font-size: 14px;
				border-right: 1px solid transparent;
			}
		}

		&--search {
			@media #{$tab-desk} {
				flex-basis: 80px;
				justify-content: center;

				& span {
					display: none;
				}
			}

			@media #{$tablet} {
				align-self: center;
				order: -2;
				justify-content: center;
				height: 90px;
				margin-left: calc(50% - 20px);
				@include padding-y(0);
				background-color: #ffffff;
				border-left: 1px solid #ececec;
				border-right: 1px solid #ececec;
				border-bottom: 1px solid #ececec;
			}

			@media #{$desktop} {
				order: 0;
			}
		}

		&--cart {
			@media #{$tablet} {
				order: -1;
				flex-grow: 1;
				border-bottom: 1px solid #ececec;
			}

			@media #{$tab-desk} {
				justify-content: flex-end;
				height: 90px;
				@include padding-y(0);
				padding-right: 5rem;
				margin-left: auto;
				margin-right: -5rem;
				font-size: 16px;
				background-color: #ffffff;
			}

			@media #{$desktop} {
				flex-grow: 1;
				order: 0;
				margin-left: initial;
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;

		&:hover {
			fill: $link-color--hover;
			transition-duration: 0.3s;
		}

		&:active {
			fill: $link-color--active;
			transition-duration: 0.3s;
		}

		&:hover .icon use {
			fill: $color-secondary;
			transition-duration: 0.3s;
		}

		&:active .icon use {
			fill: rgba($color-secondary, 0.3);
			transition-duration: 0.3s;
		}

		& .icon {
			padding-right: 25px;

			@media #{$tab-desk} {
				&.icon--search {
					padding-right: 0;
				}
			}
		}
	}
}

