.container {
	display: block;
	@include clearfix();
	@include container();
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;

	@media #{$mobile} {
		@include with-layout($small) {
			@include show-grid();
		}
	}

	@media #{$tablet} {
		@include with-layout($medium) {
			@include show-grid();
		}
	}

	@media #{$desktop} {
		@include with-layout($large) {
			@include show-grid();
		}
	}
}
