.checkbox {

	@media #{$tablet} {
		flex-basis: #{percentage(1/2)};
	}

	@media #{$desktop} {
		flex-basis: #{percentage(1/3)};
	}

	&__caption {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 4.5rem;
		padding-left: 6rem;
		font-family: Verdana, Arial, sans-serif;
		font-size: 1.7rem;
		line-height: 1.9rem;
		font-weight: 700;
		color: #000000;

		@media #{$tab-desk} {
			margin-bottom: 5.5rem;
			padding-left: 8rem;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			display: block;
			width: 40px;
			height: 40px;
			border: 2px solid $link-color;
			background-color: transparent;

			@media #{$tab-desk} {
				width: 50px;
				height: 50px;
			}

			.checkbox:hover & {
				border-color: $color-secondary;
				transition-duration: 0.3s;
			}

			.checkbox:active & {
				border-color: rgba($color-primary, 0.3);
				transition-duration: 0.3s;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 17px;
			display: none;
			width: 22px;
			height: 12px;
			border: 2px solid $color-primary;
			border-top-color: transparent;
			border-right-color: transparent;
			transform: rotate(-45deg) translateY(-100%);

			@media #{$tab-desk} {
				left: 20px;
				width: 30px;
				height: 15px;
			}
		}
	}

	&__input {
		display: none;
	}

	&__input:checked + &__caption {
		&::after {
			display: block;
		}
	}

	&:last-of-type &__caption {
		margin-bottom: 0;
	}

	@media #{$tablet} {
		&:nth-child(5n) &__caption,
		&:nth-child(6n) &__caption {
			margin-bottom: 0;
		}
	}

	@media #{$desktop} {
		&:nth-child(4n) &__caption,
		&:nth-child(5n) &__caption,
		&:nth-child(6n) &__caption {
			margin-bottom: 0;
		}
	}
}
