include ../icon/icon

mixin contacts()
	+b.contacts&attributes(attributes)
		+e('div').container
			+e('header').heading
				span Контакты
				+icon('icon--flag', 'contacts-flag', '47', '82', false)
			+e('div').e-mail
				span e-mail:
				a(href='mailto:info@mimimishkashop.ru') info@mimimishkashop.ru
			+e('div').address
				span адрес:
				span г. Санкт-Петербург,<br>ул. Большая Конюшенная,<br>д. 19/8, офис 101
		+e('a').feedback(class='btn', href='javascript:void(0)', onclick='return false', role='button')
			| Напишите нам
		+e('div').map(class='js_map')


