.page-footer {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@include margin-x(-#{$offset--mobile});
	@include padding-x(#{$offset--mobile});
	background-color: #f1f1f1;

	@media #{$tab-desk} {
		justify-content: space-between;
		min-height: 143px;
		@include margin-x(-#{$offset--desktop});
		@include padding-x(#{$offset--desktop});
	}

	&__logo {
		display: none;

		@media #{$tab-desk} {
			display: flex;
		}
	}
}
