mixin video()
	+b.video&attributes(attributes)
		video(class='js_video', preload='none',
		poster='images/video-mobile@2x.png',
		controls)
			source(src='video/video--hi-res.mp4', type='video/mp4', media="(min-width: 768px)")
			source(src='video/video--low-res.mp4', type='video/mp4')
		+e.controls(class='js_video__controls')
			+b('a').btn(class='js_play', href='javascript:void(0)', role='button')
				+icon('icon--play', 'production-process-play', '101', '77', true)
