.video {
	position: relative;
	display: block;
	@include padding-x(0.5rem); // container's 2.5rem + 0.5rem = 3rem
	@include margin-x(-#{$offset--mobile}); // 3rem
	margin-bottom: 2.5rem;
	line-height: 0;
	order: -1;

	@media #{$tab-desk} {
		@include padding-x(1rem);
		@include margin-x(-#{$offset--desktop});
		margin-bottom: 3.5rem;
	}

	@media #{$desktop} {
		@include with-layout($large) {
			width: #{span(4)};
		}
	}

	&__controls {
		position: absolute;
		top: 50%;
		left: 50%;
		display: none;
		transform: translateX(-50%) translateY(-50%);
	}

	video {
		width: 100%;
		height: 100%;
		background-image: url("../images/video-mobile@2x.png");
		background-repeat: no-repeat;
		background-position: center;

		@media #{$tablet} {
			background-image: url("../images/video-tablet.png");
			@include retinaBackground(video-tablet);
		}

		@media #{$desktop} {
			background-image: url("../images/video-desktop.png");
			@include retinaBackground(video-desktop);
		}
	}
}
