.main-nav {
	display: none;

	&--visible {
		display: block;
	}

	&__logo {
		display: none;
		&--visible {
			display: block;
		}
	}

	&__list {
		display: none;
		@include list-clear();

		&--visible {
			display: block;
		}
	}
}
