include ../blocks/lead/lead
include ../blocks/goods/goods
include ../blocks/production-process/production-process

extends ../blocks/layout-default/layout-default

block variables
	- bodyClass = '--form';

block head
	- var pageTitle = 'Mishka';

block lead
	+lead
		| Каталог товаров
block main-content
	+goods(getData('goods'))
	+production-process
