include ../blocks/lead/lead

extends ../blocks/layout-default/layout-default

block variables
	- bodyClass = '--form';

block head
	- var pageTitle = 'Mishka';

block lead
	+lead
		| Вязание на заказ
