include ../blocks/container/container
include ../blocks/page-header/page-header
include ../blocks/featured-goods/featured-goods

extends ../blocks/layout-default/layout-default

block variables
	- bodyClass = '--index';

block head
	- var pageTitle = 'Mishka';

block content
	+container
		+page-header
		+featured-goods(getData('featured-goods'))
