include ../blocks/container/container
include ../blocks/page-header/page-header
include ../blocks/main-nav/main-nav

extends ../blocks/layout-default/layout-default

block variables
	- bodyClass = '--index';

block head
	- var pageTitle = 'Mishka';

block content
	+container
		+page-header
			+main-nav(getData('mainNav'))
