include ../blocks/container/container
include ../blocks/page-header/page-header
include ../blocks/logo/logo

extends ../blocks/layout-default/layout-default

block variables
	- bodyClass = '--index';

block head
	- var pageTitle = 'Mishka';

block content
	+container
		| Text
		//+page-header
		//	+logo
