include ../blocks/page/page
include ../blocks/container/container
include ../blocks/page-header/page-header

include ../blocks/main-content/main-content
include ../blocks/featured-goods/featured-goods
include ../blocks/featured-goods/featured-goods
include ../blocks/about/about
include ../blocks/responses/responses
include ../blocks/contacts/contacts

include ../blocks/page-footer/page-footer

extends ../blocks/layout-default/layout-default

block variables
	- bodyClass = '--index';

block head
	- var pageTitle = 'Mishka';

block content
	+container
		+page-header
		+main-content
			+featured-goods(getData('featured-goods'))
			+about(getData('about'))
			+responses(getData('responses'))
			+contacts
		+page-footer
