.goods {
	&__list {
		@include list-clear();
		display: flex;
		flex-direction: column;

		@media #{$desktop} {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
		}
	}
}
