.page {
	&--index {
		.page-header {
			min-height: 453px;

			@media #{$tablet} {
				min-height: 846px;
			}

			@media #{$desktop} {
				min-height: 851px;
			}

			&::before {
				content: "";
				position: absolute;
				top: 80px;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				background-image: url("../images/hero-mobile@2x.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;

				@media #{$tab-desk} {
					@include retinaBackground(hero-tab-desk);
				}
			}

		}
	}
}
