.logo {
	display: block;

	use {
		fill: $link-color;
	}

	&:hover use {
		fill: $link-color--hover;
		transition-duration: 0.3s;
	}

	&:active use {
		fill: $link-color--active;
		transition-duration: 0.3s;
	}

	&--mobile {
		width: 86px;
		height: 35px;
	}

	&--tablet {
		width: 114px;
		height: 48px;
	}

	&--desktop {
		width: 150px;
		height: 74px;
	}
}
