mixin textInput(item, inputType)
	+b('label').inputType&attributes(attributes)
		+e('caption').caption !{item.label}
		+e('input').input(type=item.inputType, pattern=item.pattern, placeholder=item.placeholder)
