.lead {
	position: absolute;
	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;

	@media #{$tab-desk} {
		top: 90px;
	}

	@media #{$tablet} {
		bottom: 22px;
	}

	@media #{$desktop} {
		bottom: 34px;
	}

	& h1 {
		@include heading--big;
		margin: auto;
		text-align: center;
		z-index: 10;
	}
}
