.featured-goods {
	position: relative;
	display: block;
	@include margin-x(-#{$offset--mobile});
	@include padding-x($offset--mobile);
	margin-bottom: 3rem;

	@media #{$tab-desk} {
		@include margin-x(-#{$offset--tablet});
		@include padding-x($offset--tablet);
	}

	@media #{$tablet} {
		margin-bottom: 4.5rem;
	}

	@media #{$desktop} {
		margin-bottom: 6rem;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: percentage(2/2);
		height: 6px;
		@include padding-x(0);
		background-image: url("../images/bg-zigzag.svg");
		background-position: center;
		background-repeat: repeat-x;

		@media #{$tablet} {
			height: 15px;
		}

		@media #{$desktop} {
			height: 23px;
		}
	}

	&__list {
		@include list-clear();
	}
}
