include ../featured-product/featured-product

mixin featured-goods(list)
	+b('section').featured-goods&attributes(attributes)
		+e('ul').list
			each item in list
				+featured-product(item)(class='__item')

