include ../icon/icon
include ../nav/nav
include ../goods-categories/goods-categories

mixin page-header()
	+b('header').page-header&attributes(attributes)
		+e.logo(class='--visible')
			+e('a').link(href='index.html')
				+icon('logo', 'logo-mobile', '86', '35', true)(class='js_logo')
			+e('a').toggle--close(class='js_toggle', href='javascript:void(0)', onclick='return false')
				+e.icon

		+nav(getData('nav'))

		+e.footnote
			span
				| Бесплатная доставка по России

		block lead

		if bodyClass === '--index'
			block goods
				+goods-categories
