.page-header {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 453px;
	@include margin-x(-3rem);
	margin-bottom: 16rem;
	background-color: #fafafa;

	@media #{$tablet} {
		margin-bottom: 3.5rem;
	}

	@media #{$desktop} {
		margin-bottom: 5.5rem;
	}

	&::before {
		content: "";
		position: absolute;
		top: 80px;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		background-image: url("../images/hero-mobile@2x.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@media #{$tab-desk} {
			@include retinaBackground(hero-tab-desk);
		}
	}

	&::after {
		@media #{$tab-desk} {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			background-image: url("../images/page-header-zigzag.svg");
			background-position: center;
			background-repeat: repeat-x;
		}

		@media #{$tablet} {
			height: 22px;
		}

		@media #{$desktop} {
			height: 34px;
		}
	}

	@media #{$tab-desk} {
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		@include margin-x(-5rem);

		&::before {
			top: 90px;
			@include retinaBackground(hero-tab-desk);
		}
	}

	@media #{$tablet} {
		min-height: 846px;
	}

	@media #{$desktop} {
		min-height: 851px;
	}

	&__logo {
		position: relative;
		display: none;
		height: 80px;
		background-color: #ffffff;
		border-bottom: 1px solid #ececec;

		&--visible {
			display: flex;
			align-items: center;

			@media #{$tab-desk} {
				position: absolute;
				height: 90px;
			}

			@media #{$tablet} {
				left: 0;
				width: calc(50% - 20px);
			}

			@media #{$desktop} {
				width: 100%;
			}
		}
	}

	&__link {
		@include margin-x(auto);

		@media #{$tablet} {
			margin-left: 5rem;
		}

		@media #{$desktop} {
			justify-content: center;
			z-index: 10;
		}
	}

	&__toggle {
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translateY(-50%);
	}

	&__footnote {
		display: none;

		@media #{$tab-desk} {
			position: absolute;
			top: 111px;
			right: 50px;
			display: block;
		}
	}

	&__heading {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		@include heading--big;
		text-align: center;
		z-index: 10;

		@media #{$tab-desk} {
			top: 31%;
		}
	}

	&__btn-container {
		position: absolute;
		top: 84%;
		display: flex;
		flex-direction: column;
		width: 100%;

		@media #{$tab-desk} {
			top: auto;
			flex-direction: row;

			&:hover .btn {
				padding-bottom: 3.3rem;
			}
		}

		@media #{$tablet} {
			bottom: 11px;
		}

		@media #{$desktop} {
			bottom: 17px;
		}
	}
}
