include ../icon/icon
include ../nav/nav
include ../goods/goods

mixin page-header()
	+b('header').page-header&attributes(attributes)
		+e.logo(class='--visible')
			+e('a').link(href='index.html')
				+icon('logo', 'logo-mobile', '86', '35', true)(class='js_logo')
			+e('a').toggle(href='#')
				+icon('icon--close', 'nav-toggle-close', '22', '22', true)

		+nav(getData('nav'))

		+e.footnote
			span
				| Бесплатная доставка по России

		block lead

		if bodyClass === '--index'
			block goods
				+goods
