.featured-product {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@media #{$tab-desk} {
		flex-direction: row;
		align-items: center;
	}

	@media #{$tablet} {
		@include with-layout($medium) {
			& > *:not(&__heading):not(&__tag) {
				flex-basis: calc(#{span(2)} - 4.5rem);
				margin-right: calc(#{span(2)} + 4.5rem);
			}
		}
	}

	@media #{$desktop} {
		@include with-layout($large) {
			& > *:not(&__heading):not(&__tag) {
				flex-basis: calc(#{span(2)} - 6rem);
				margin-left: span(1);
				margin-right: #{percentage(3/6)};
			}
		}
	}

	&__heading {
		@include heading--big();
		margin-bottom: 0.5rem;
		z-index: 5;

		@media #{$tab-desk} {
			margin-bottom: 5rem;
		}

		@media #{$tablet} {
			margin-right: auto;
		}

		@media #{$desktop} {
			@include with-layout($large) {
				flex-basis: span(3);
				margin-top: 5rem;
				margin-right: span(2);
				letter-spacing: -1.5px;
			}
		}
	}

	&__tag {
		margin-bottom: 3rem;
		font-family: $font-family;
		font-weight: 700;
		font-size: $font-size / 0.875; // 1.6
		line-height: $leading / 1.875;
		color: $color-secondary;
		text-transform: uppercase;
		z-index: 5;

		@media #{$tab-desk} {
			margin-bottom: 5rem;
			text-align: center;
		}

		@media #{$tablet} {
			flex-basis: #{percentage(0.2/4)};
			margin-right: 3rem;
			margin-left: auto;
		}
		@media #{$desktop} {
			@include with-layout($large) {
				order: -5;
				flex-basis: calc(#{span(1)} / 2);
				margin-top: 5rem;
				margin-right: calc(#{span(1)} / 2);
				transform: translateX(#{percentage(3/6)});
			}
		}
	}

	&__description {
		margin-bottom: 1.8rem;
		font-size: $font-size;
		line-height: $leading / 1.25; // 24
		color: $text-color;

		@media #{$tab-desk} {
			font-size: $font-size / 0.875; // 1.6
			line-height: $leading;
		}

		@media #{$tablet} {
			margin-bottom: 3.5rem;
		}

		@media #{$desktop} {
			margin-bottom: 5rem;
		}
	}

	&__features {
		margin-bottom: 2.5rem;
		tr {
			border-bottom: 1px solid #ececec;
		}
		th,
		td {
			@include padding-y(1rem);
			font-weight: 400;
		}

		@media #{$tab-desk} {
			margin-bottom: 5.5rem;
			font-size: 1.5rem;
		}

		@media #{$tablet} {
			@include with-layout($medium) {
				width: calc(#{span(2)} - 45px);
			}
		}

		@media #{$desktop} {
			@include with-layout($large) {
				width: calc(#{span(2)} - 6rem);
				margin-bottom: 10.5rem;
			}
		}
	}

	&__image {
		min-width: 100%;
		margin-bottom: 2rem;

		@media #{$tab-desk} {
			position: absolute;
			min-width: initial;
			width: 50%;
			bottom: 0;
			right: 0;
			margin-bottom: 0;
			object-fit: cover;
		}

		@media #{$tablet} {
			height: calc(#{percentage(4/4)} - 7.5rem);
			margin-bottom: 7.5rem;
		}

		@media #{$desktop} {
			height: calc(#{percentage(4/4)} - 9.5rem);
			margin-bottom: 9.5rem;
		}
	}

	&__price {
		margin-bottom: 2.5rem;
		font-family: Verdana, Arial, sans-serif;
		font-size: $font-size / 0.875; // 1.6
		line-height: $leading / 1.25; // 24
		font-weight: 700;
		color: $text-color;
		text-align: center;

		@media #{$tab-desk} {
			margin-bottom: 3rem;
		}
	}

	&__order {
		@include btn();
		margin-bottom: 4rem;
		font-family: $font-family;
		font-size: $font-size / 0.875; // 1.6
		line-height: $leading / 1.875;
		font-weight: 700;
		color: $text-color;
		text-transform: uppercase;
		border: 2px solid $color-primary;

		&:hover {
			background-color: $color-primary;
			color: #ffffff;
			transition-duration: 0.3s;
		}

		&:active {
			background-color: $color-primary;
			color: rgba(#ffffff, 0.3);
			transition-duration: 0.3s;
		}

		@media #{$tablet} {
			margin-bottom: 7.5rem;
		}

		@media #{$desktop} {
			margin-bottom: 9.5rem;
		}
	}
}
