.production-process {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 6rem;
	@include padding-x(2.5rem);
	border: 1px solid #ececec;
	cursor: pointer;

	&:hover {
		box-shadow: 0 6px 6px 0 rgba(#000, 0.1);
		transition-duration: 0.3s;

		& .production-process__heading {
			color: rgba($link-color, 0.6);
			transition-duration: 0.3s;
		}

		& .production-process__heading .icon {
			fill: $color-secondary;
			transition-duration: 0.3s;
		}
	}

	&:active {
		box-shadow: 0 3px 3px 0 rgba(#000, 0.1);

		& .production-process__heading {
			color: rgba($link-color, 0.3);
			transition-duration: 0.3s;
		}

		& .production-process__heading .icon {
			fill: rgba($color-secondary, 0.3);
			transition-duration: 0.3s;
		}
	}

	@media #{$tab-desk} {
		@include padding-x(4rem);
	}

	@media #{$desktop} {
		flex-direction: column;
		flex-wrap: wrap;
		padding-right: 2.5rem;
		@include with-layout($large) {
			padding-left: calc(#{span(4)} + #{$offset--desktop});
		}
		margin-bottom: 11rem;
		overflow: hidden;
		z-index: 5;
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include padding-y(2.5rem);
		font-family: Verdana, Tahoma, Arial, sans-serif;
		font-size: $font-size / 0.875; // 1.6rem
		line-height: $leading / 1.25; // 2.4rem
		font-weight: 700;
		color: #000000;

		@media #{$mobile} {
			order: -10;

			& .icon {
				width: 42px;
				height: 32px;
			}
		}

		@media #{$tab-desk} {
			justify-content: flex-start;
			font-size: $font-size / 0.77777777777778; // 1.8rem
		}

		@media #{$tablet} {
			margin-bottom: 1rem;
		}

		@media #{$desktop} {
			flex-direction: column;
			@include with-layout($large) {
				flex-basis: calc(#{span(2)} - #{$offset--desktop});
			}
			align-items: flex-start;
			order: 5;
			margin-top: 1.5rem;
			margin-bottom: 3rem;
			@include padding-y(0);
			@include padding-x(2.5rem);
		}

		.icon {
			margin-right: 2.5rem;

			@media #{$desktop} {
				@include margin-y(3rem);
			}
		}

	}

	&__description {
		margin-bottom: 2.5rem;
		line-height: $leading / 1.25; // 2.4rem

		@media #{$tab-desk} {
			font-size: $font-size / 0.875; // 1.6rem
			line-height: $leading;
		}

		@media #{$tablet} {
			margin-bottom: 3.5rem;
		}

		@media #{$desktop} {
			@include with-layout($large) {
				flex-basis: calc(#{span(2)} - #{$offset--desktop});
			}
			align-items: flex-start;
			order: 10;
			margin-bottom: 5rem;
			padding-left: 2.5rem;
		}
	}

	&__order {
		@include btn();
		margin-bottom: 3.5rem;

		@media #{$tablet} {
			margin-bottom: 4.5rem;
		}

		@media #{$desktop} {
			@include with-layout($large) {
				flex-basis: calc(#{span(2)} - #{$offset--desktop});
			}
			order: 15;
			margin-bottom: 5.5rem;
		}
	}

}
