include ../icon/icon
include ../video/video

mixin production-process()
	+b.production-process&attributes(attributes)
		+e('header').heading
			+icon('icon--video', 'production-process-video', '32', '22', true)
			span Процесс производства
		+video
		+e.description
			| По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
		+e('a').order(class='btn', href='javascript:void(0)', onclick='return false', role='button')
			| Сделать заказ

