.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: percentage(2/2);
	min-height: 80px;
	border-bottom: 1px solid #e5e5e5;
	@include list-clear();

	@media #{$tab-desk} {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		flex-basis: auto;
		border-bottom: none;
	}

	&__item {
		padding-right: 4rem;

		&:last-child {
			padding-right: 0;
		}
	}
}
