.icon {
	display: block;

	use {
		fill: $link-color;
		pointer-events: none;
	}

	&--open {
		width: 20px;
		height: 14px;
	}

	&--close {
		@include size(21px);
	}

	&--open,
	&--close {

		&:hover use {
			fill: $link-color--hover;
		}

		&:active use {
			fill: $link-color--active;
		}

		@media#{$tab-desk} {
			display: none;
		}
	}

	&--cart {
		width: 20px;
		height: 18px;
	}

	&--search {
		@include size(18px);
	}

	&--cart,
	&--search {
		use {
			fill: rgba($link-color, 0.3);
		}
	}

	&--interior {
		width: 42px;
		height: 64px;
	}

	&--toy {
		width: 60px;
		height: 60px;
	}

	&--interior,
	&--toy {
		use {
			fill: #149080;
		}
	}

	&--flower {
		width: 32px;
		height: 37px;
	}

	&--banknote {
		width: 47px;
		height: 27px;
	}

	&--heart {
		width: 34px;
		height: 27px;
	}

	&--loupe {
		width: 35px;
		height: 34px;
	}

	&--rocket {
		width: 55px;
		height: 23px;
	}

	&--gift {
		width: 33px;
		height: 32px;
	}

	&--flower,
	&--banknote,
	&--heart,
	&--loupe,
	&--rocket,
	&--gift {
		use {
			fill: $color-secondary;
		}
	}
}
